# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.local
.env.production

# Almacenamiento dinámico de archivos (se conservan solo los .gitkeep)
storage/images/*
!storage/images/.gitkeep
storage/pdfs/*
!storage/pdfs/.gitkeep
storage/temp/*
!storage/temp/.gitkeep

# Logs y SO
logs/
*.log
.DS_Store
Thumbs.db
